// Centrado vertical
@mixin centrar_vertical_hijo($porcentaje) {
    position: absolute;
    top: $porcentaje;
    -ms-transform: translateY(-$porcentaje);
    -moz-transform: translateY(-$porcentaje);
    -o-transform: translateY(-$porcentaje);
    -webkit-transform: translateY(-$porcentaje);
    transform: translateY(-$porcentaje);
}

// Centrado horizontal - Absolute
@mixin centrar_horizontal_absolute() {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

@mixin gradienteTopBottom($color_top, $color_bottom, $color_fallback) {
    background: $color_fallback;
    background: -o-linear-gradient($color_top, $color_bottom);
    background: -moz-linear-gradient($color_top, $color_bottom);
    background: -webkit-linear-gradient($color_top, $color_bottom);
    background: linear-gradient($color_top, $color_bottom);
}

@mixin transiciones($tiempo) {
    -o-transition: $tiempo;
    -moz-transition: $tiempo;
    -webkit-transition: $tiempo;
    transition: $tiempo;
}

@mixin background_general() {
    background-repeat: no-repeat;
    background-position: center;
}

@mixin background_size($size) {
    -o-background-size: $size;
    -moz-background-size: $size;
    -webkit-background-size: $size;
    background-size: $size;
}

@mixin clearFloat(){
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

// Tipografías
body, .ui-header .ui-title {
    font-family: 'Avenir-Light', sans-serif;
    font-weight: normal;
}

#fecha {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: normal;
}

#versiculo {
    font-family: 'Avenir-BookOblique', sans-serif;
    font-weight: normal;
}

#titulo {
    font-family: 'Avenir-Black', sans-serif;
    font-weight: normal;
}

#reflexion {
    font-family: Georgia, serif;
}

// Paleta de colores
$azul_general: #00E0FF;

// General
body {
    font-size: 14px;
    line-height: 24px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper, .ui-header { background-color: #F9F9F9; }

$menu_alto: 54px;
$content_padding_top: 24px;
$content_padding_lateral: 20px;
#content { padding: $content_padding_top $content_padding_lateral ($menu_alto + $content_padding_top) $content_padding_lateral; }

// Prevenir que se abra el cuadro de diálogo de copiar/pegar
a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    text-decoration: none;
}

.separador-chico {
    width: 30px;
    height: 1px;
    background-color: $azul_general;
}

// Clases para alinear
.centrar{ text-align:center!important; }
.izquierda{ text-align:left!important; }
.derecha{ text-align:right!important; }

// Clases para ocultar
.ocultar{ display:none; }

/* PERSONALIZACIÓN DE ICONOS */
// .icon-menu{ margin: 0 10px -5px 0; }

.ui-nodisc-icon{
    box-shadow: none!important;
    background: none!important;
    border: none!important;
}

// .ui-btn-icon-notext.ui-btn-left { left: 1em!important; }
// .ui-btn-icon-notext.ui-btn-right { right: 1em!important; }

// .ui-icon-refresh:after{
//     background-size: 18px 18px;
//     border-radius: 0em!important;
// }

// .ui-icon-bars:after{
//     background-size: 22px 22px;
//     border-radius: 0em!important;
// }

// .ui-icon-action:after{
//     background-size: 20px 20px;
//     border-radius: 0em!important;
// }

// Menú
.navbar-menu {
    z-index: 2;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url('../img/menu-background.png');
    border-top: 1px solid #E7EAED;
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.95);
        list-style: none;
        @include clearFloat();

        li {
            display: inline-block;
            width: 25%;
            float: left;
            
            // .navbar-link
            a {
                position: relative;
                display: block;
                padding: 10px 0 9px 0;
                font-size: 12px;
                line-height: 15px;
                font-weight: normal;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: calc(100% - 20px);
                    right: 0;
                    top: 10px;
                    background-color: #E7EAED;
                }
            }

            a, a:hover, a:visited, a:focus { color: #111; }

            &.selected {
                a {
                    font-family: 'Avenir-Heavy', sans-serif;
                    
                }
            }
        }
    }

    .icon-menu {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.navbar-menu, .ui-header {
    @include background_general();
    @include background_size(cover);
}

// Header 
.ui-header {
    background-image: url('../img/header-background.png');
    border-top: 0;
    border-bottom: 1px solid #D9DEE3;

    .ui-title {
        min-height: 0;
        padding-top: 18px;
        padding-bottom: 17px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
    }
}

// Reflexiones
#fecha {
    opacity: 0.5;
    font-size: 10px;
    line-height: 17px;
    text-transform: uppercase;
}

#titulo {
    margin-top: 10px;
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.5px;
}

#versiculo {
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 18px;
}

#reflexion {
    ul { text-indent: 0px; }
    p:last-child { margin-bottom: 0; }
}

#contedido {
    margin-top: 18px;
    margin-bottom: 16px;
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(187, 197, 206, 0.5);
}

#footer_reflexion {
    margin-top: 0;
}

.margen-superior{ margin-top: 15px; }

// Buscar
.ui-input-text{
    background: rgba(0, 0, 0, 0.2)!important;
    border-radius: 10px 0px 0px 10px!important;
    color: #FFF!important;
    width: 100px;

    input{
        text-align: center!important;
        text-shadow: none!important;
    }
}

.btn-buscar{
    border-radius: 0px 10px 10px 0px!important;
    border-color: rgb(148, 148, 148)!important;
}

.controlgroup-textinput{
    padding-top:.22em!important;
    padding-bottom:.22em!important;
    border-color: #3A3A3A!important;
}

.ui-controlgroup-label{ text-align: center!important; }


