<?xml version="1.0" encoding="UTF-8"?>

<widget
    xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.jmarqz.matinal-jovenes"    
    version     = "1.0.0" 
    versionCode = "1" >


    <!-- App Info -->
    <name>Matinal Jóvenes</name>
    <description>
        Aplicación del Matinal de Jóvenes Adventistas.
    </description>
    <author href="https://jmarqz.com" email="jmarqz04@gmail.com">
        JMarqz
    </author>

    
    <!-- Plataforms -->
    <gap:platform name="ios" />
	<gap:platform name="android" />

	
    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.device"            version="0.2.8" />
    <gap:plugin name="org.apache.cordova.splashscreen"      version="0.2.7" />
    <gap:plugin name="org.apache.cordova.inappbrowser"      version="0.3.3" />
    <gap:plugin name="com.phonegap.plugin.statusbar"        version="1.1.0" />
    <gap:plugin name="com.ohh2ahh.plugins.appavailability"  version="0.3.0" />

    
    <!-- Preferences -->
    <preference name="phonegap-version"         value="3.4.0" />
    <preference name="orientation"              value="portrait" />
    <preference name="prerendered-icon"         value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    

    <!-- Icon -->
    <icon src="icon.png" />
    

    <!-- Splash Screens -->
    <!-- Android -->
    <gap:splash src="res/screen/android/screen-ldpi-port.png"       gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-port.png"       gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-port.png"       gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-port.png"      gap:platform="android" gap:qualifier="xhdpi"/>
    
    <!-- iOS -->
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait-2x.png"        gap:platform="ios"     width="1536" height="2008" />


</widget>