/* PERSONALIZACIÓN DE  ICONOS */
.icon-menu{
    margin: 0 10px -5px 0;
}

.ui-nodisc-icon{
    box-shadow: none!important;
    background: none!important;
    border: none!important;
}

.ui-icon-mymenu:after{
    background-image: url("../iconos/menu_white.png");
    background-size: 18px 18px;
}

/* CENTRAR */
.centrar{
    text-align:center;
}

/* OCULTAR */
.ocultar{
    display:none;
}

/* CARGA */
#cargando {
    text-align: center!important;
}

/* SECCION AUTOR */
.autor{
    text-align: justify;
    text-indent: 1cm;
}

/* SECCIÓN BUSCAR */
#reflexion-buscar{
    padding: 20px;
}