/* PREVENIR QUE SE ABRA EL CUADRO DE DIÁOLO DE COPIAR/ABRIR */
a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    text-decoration: none;
}

/* PERSONALIZACIÓN DE ICONOS */
.icon-menu{ margin: 0 10px -5px 0; }

.ui-nodisc-icon{
    box-shadow: none!important;
    background: none!important;
    border: none!important;
}

.ui-btn-icon-notext.ui-btn-left { left: 1em!important; }
.ui-btn-icon-notext.ui-btn-right { right: 1em!important; }

.ui-icon-refresh:after{
    background-size: 18px 18px;
    border-radius: 0em!important;
}

.ui-icon-bars:after{
    background-size: 22px 22px;
    border-radius: 0em!important;
}

.ui-icon-action:after{
    background-size: 20px 20px;
    border-radius: 0em!important;
}

/* CLASES DE REFLEXIONES */
.versiculo{ font-style:italic; }

#reflexion p, #autor p {
    text-align: justify;
    text-indent: 1cm;
}

.creditos-reflexion{
    text-align: right!important;
    font-size: 12px;
    font-style: italic;
}

.margen-superior{ margin-top: 15px; }
#reflexion ul { text-indent: 0px; }

/* ALINEAR */
.centrar{ text-align:center!important; }
.izquierda{ text-align:left!important; }
.derecha{ text-align:right!important; }

/* OCULTAR */
.ocultar{ display:none; }

/* SECCIÓN BUSCAR */
.ui-input-text{
    background: rgba(0, 0, 0, 0.2)!important;
    border-radius: 10px 0px 0px 10px!important;
    color: #FFF!important;
    width: 100px;
}

.ui-input-text input{
    text-align: center!important;
    text-shadow: none!important;
}

.btn-buscar{
    border-radius: 0px 10px 10px 0px!important;
    border-color: rgb(148, 148, 148)!important;
}

.controlgroup-textinput{
    padding-top:.22em!important;
    padding-bottom:.22em!important;
    border-color: #3A3A3A!important;
}

.ui-controlgroup-label{ text-align: center!important; }


