/* PERSONALIZACIÓN DE  ICONOS */
.icon-menu{
    margin: 0 10px -5px 0;
}

.ui-nodisc-icon{
    box-shadow: none!important;
    background: none!important;
    border: none!important;
}

.ui-btn-icon-notext.ui-btn-left {
    left: 1em!important;
}

.ui-btn-icon-notext.ui-btn-right {
    right: 1em!important;
}

.ui-icon-refresh:after{
    background-size: 18px 18px;
    border-radius: 0em!important;
}

.ui-icon-bars:after{
    background-size: 22px 22px;
    border-radius: 0em!important;
}

/* CENTRAR */
.centrar{
    text-align:center;
}

/* OCULTAR */
.ocultar{
    display:none;
}

/* CARGA */
#cargando {
    text-align: center!important;
}

/* SECCION AUTOR */
.autor{
    text-align: justify;
    text-indent: 1cm;
}

/* SECCIÓN BUSCAR */
#reflexion-buscar{
    padding: 20px;
}