@charset "UTF-8";
/* --------------------------------- SASS -------------------------------- */
/* ----------------------------- TIPOGRAFÍAS ------------------------------ */
body, .ui-header .ui-title, .encabezado-light {
  font-family: 'Avenir-Light', sans-serif;
  font-weight: normal; }

.contenedor-busqueda, .ui-input-text {
  font-family: 'Avenir-Medium', sans-serif;
  font-weight: normal; }

#fecha {
  font-family: 'Avenir-Book', sans-serif;
  font-weight: normal; }

#versiculo {
  font-family: 'Avenir-BookOblique', sans-serif;
  font-weight: normal; }

#titulo, .encabezado-secundario, #content h3 {
  font-family: 'Avenir-Black', sans-serif;
  font-weight: normal; }

#reflexion, #content {
  font-family: 'HiraMinProN-W3', Georgia, serif; }

/* ------------------------------- GENERAL -------------------------------- */
body {
  font-size: 14px;
  line-height: 24px; }

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper, .ui-header {
  background-color: #F9F9F9; }

#content {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px 20px 78px 20px; }
  #content p {
    margin-top: 0;
    margin-bottom: 21px; }
    #content p:last-child {
      margin-bottom: 0; }

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  text-decoration: none; }

.encabezado-light {
  color: #111111;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.5px; }

.separador-chico, .separador-radius {
  margin-right: auto;
  margin-left: auto;
  background-color: #00E0FF; }

.separador-chico {
  width: 30px;
  height: 1px; }

.separador-radius {
  width: 20px;
  height: 3px;
  margin-bottom: 24px;
  border-radius: 2px; }

.centrar {
  text-align: center !important; }

.izquierda {
  text-align: left !important; }

.derecha {
  text-align: right !important; }

.ocultar {
  display: none; }

/* PERSONALIZACIÓN DE ICONOS */
.ui-nodisc-icon {
  box-shadow: none !important;
  background: none !important;
  border: none !important; }

.navbar-menu {
  z-index: 2;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url("../img/background-general.png");
  border-top: 1px solid #E7EAED;
  text-align: center; }
  .navbar-menu ul {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.95);
    list-style: none; }
    .navbar-menu ul:after {
      content: '';
      display: block;
      clear: both; }
    .navbar-menu ul li {
      display: inline-block;
      width: 25%;
      float: left; }
      .navbar-menu ul li a {
        position: relative;
        display: block;
        padding: 10px 0 9px 0;
        font-size: 12px;
        line-height: 15px;
        font-weight: normal; }
        .navbar-menu ul li a:before, .navbar-menu ul li a:after {
          content: '';
          display: block; }
        .navbar-menu ul li a:before {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          height: 4px;
          width: 100%;
          background-color: #00E0FF; }
        .navbar-menu ul li a:after {
          position: absolute;
          width: 1px;
          height: calc(100% - 20px);
          right: 0;
          top: 10px;
          background-color: #E7EAED; }
      .navbar-menu ul li a, .navbar-menu ul li a:hover, .navbar-menu ul li a:visited, .navbar-menu ul li a:focus {
        color: #111; }
      .navbar-menu ul li.selected a {
        position: relative;
        font-family: 'Avenir-Heavy', sans-serif; }
        .navbar-menu ul li.selected a:before {
          opacity: 1; }
  .navbar-menu .icon-menu {
    display: block;
    margin-right: auto;
    margin-left: auto; }

.navbar-menu, .ui-header {
  background-repeat: no-repeat;
  background-position: center;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

.ui-header {
  background-image: url("../img/background-general.png");
  border-top: 0;
  border-bottom: 1px solid #D9DEE3; }
  .ui-header:before {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95); }
  .ui-header .ui-title {
    min-height: 0;
    padding-top: 18px;
    padding-bottom: 17px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase; }
  .ui-header .ui-title, .ui-header #btnCompartir {
    z-index: 3;
    position: relative; }

#fecha {
  opacity: 0.5;
  font-size: 10px;
  line-height: 17px;
  text-transform: uppercase; }

#titulo, .encabezado-secundario {
  letter-spacing: -0.5px; }

.encabezado-secundario {
  text-align: center; }

#titulo {
  margin-top: 10px;
  margin-bottom: 11px;
  font-size: 30px;
  line-height: 38px; }

#versiculo {
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 18px; }
  #versiculo:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    margin-top: 18px;
    background-color: #00E0FF; }

#reflexion {
  font-size: 15px;
  line-height: 1.6; }
  #reflexion ul {
    text-indent: 0px; }
  #reflexion p:last-child {
    margin-bottom: 0; }

#content, #contenido {
  color: #111111;
  font-size: 14px;
  line-height: 24px; }

#contedido {
  margin-top: 18px;
  margin-bottom: 16px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(187, 197, 206, 0.5); }

#footer_reflexion {
  margin-top: 0; }

.margen-superior {
  margin-top: 15px; }

.contenedor-busqueda {
  width: 260px;
  margin: 0 auto;
  text-align: center; }
  .contenedor-busqueda .ui-controlgroup-controls {
    display: block;
    width: 100%; }
  .contenedor-busqueda .ui-input-text, .contenedor-busqueda .btn-buscar {
    height: 38px;
    padding: 0 !important;
    border-color: #BBC5CE; }
  .contenedor-busqueda .ui-input-text {
    width: 219px !important;
    background: #FFF;
    color: rgba(17, 17, 17, 0.3);
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    border-radius: 2px 0px 0px 2px !important; }
    .contenedor-busqueda .ui-input-text input {
      padding: 8px 15px 9px 15px;
      text-align: center;
      text-shadow: none; }
  .contenedor-busqueda .btn-buscar {
    position: relative;
    width: 39px !important;
    background-color: #FFF;
    border-radius: 0px 2px 2px 0px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icono-buscar.svg");
    background-size: 14px 15px;
    border-left: none; }
    .contenedor-busqueda .btn-buscar:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(187, 197, 206, 0.3); }

.busqueda-encabezado-contenedor {
  text-align: center; }
  .busqueda-encabezado-contenedor .encabezado-light {
    margin-top: 26px;
    margin-bottom: 15px; }

.ui-controlgroup-label {
  text-align: center !important; }

.encabezado-secundario {
  margin-top: 0;
  margin-bottom: 22px;
  color: #111111;
  font-size: 24px;
  line-height: 32px; }

/* ----------------------------- BREAKPOINTS ------------------------------ */
@media (min-width: 768px) {
  #fecha {
    text-align: right; }
  #titulo, #versiculo {
    text-align: center; }
  #versiculo {
    max-width: 550px;
    margin-right: auto;
    margin-left: auto; }
    #versiculo:after {
      margin-right: auto;
      margin-left: auto; } }
